
    $background-pink: #ffb8ca; // фон мороженого и hero
    $secondary-color: #ffa5ba; // розовый круг и розовый текст
    $background-mob-menu: #e17992; // фон мобильного меню
    $line-mob-menu: #e18298; // цвет линий в мобильном меню
    $section-background: #fff5f6; // розовый фон секции
    $accent-color: #d41443; // акцент 
    $white-color: #ffffff; // белый 
    $black-color: #000000; // черный цвет
    $grey-text-color: #907e82; // серый цвет текста
    $light-green-color: #c2e297; // салатовый цвет
    $light-brown-color: #f0d1a5; // светло-коричневый цвет
    $button-primary-hover: #c7133e; // цвет ховера красной кнопки в hero
    $button-contacts-hover: #d41342; // цвет  ховера our locations
    $button-secondary-hover: #ECEBEB; // вторичний цвет ховера кнопки (серый)
    $footer-background-svg: #fea5bb; // фон svg контактов в футере
    $footer-underlined: #e1e1e1; // цвет бордера в футере