.container {
  margin-left: auto;
  margin-right: auto;
      padding-left: 20px;
    padding-right: 20px;

  @include for-phone {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include for-tablet {
    max-width: 768px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @include for-desktop {
    max-width: 1050px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
