<div class="container">
  <div class="slider-box">
    <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          srcset="
            ./images/desctop/girl1-desct2x-min.png 2x,
            ./images/desctop/girl1-desct-min.png   1x
          "
          src="./images/desctop/girl1-desct-min.png"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box">

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Emily, Los Angeles</p>
      </div>
    </div>

   <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          srcset="
            ./images/desctop/girl2-desct2x-min.png 2x,
            ./images/desctop/girl2-desct-min.png   1x
          "
          src="./images/desctop/girl2-desct-min.png"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box">

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Emily, Los Angeles</p>
      </div>
    </div>

 <div class="review">
      <div class="review__img-box">
        <img
          class="review__img"
          srcset="
            ./images/desctop/girl3-desct2x-min.png 2x,
            ./images/desctop/girl3-desct-min.png   1x
          "
          src="./images/desctop/girl3-desct-min.png"
          alt="customer"
        />
      </div>
      <div class="review__up-text-box">

        <div class="review__up-text-inside-box">
          <p class="review__up-text">
            <svg width="54" height="40" class="review__icon">
              <use href="./images/sprite.svg#quotes"></use>
            </svg>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>

      <div class="review__circle-box">
        <div class="review__circle"></div>
        <div class="review__circle"></div>
        <div class="review__circle"></div>
      </div>

      <div class="review__sub-text-box">
        <p class="review__sub-text">Emily, Los Angeles</p>
      </div>
    </div>
  </div>
</div>
