<!-- header -->

<header>
  <div class="header-container">
    <a class="logo-link" href="./">
      <img class="logo-img" src="" alt="Логотип" />
    </a>

    <nav class="nav-menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__item"><a class="nav-menu__link" lang="en" href="#">Home</a></li>
        <li class="nav-menu__item"><a class="nav-menu__link" lang="en" href="#">About us</a></li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" lang="en" href="#">How it’s made?</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" lang="en" href="#">Our products</a>
        </li>
        <li class="nav-menu__item"><a class="nav-menu__link" lang="en" href="#">Contact</a></li>
      </ul>
    </nav>
    <button class="btn" type="button">
      <svg class="" width="20" height="12">
        <use></use>
      </svg>
    </button>
    <button class="btn" type="button" lang="en">
      Buy now
      <span>
        <svg class="" width="4" height="8">
          <use href=""></use>
        </svg>
      </span>
    </button>
  </div>
</header>

<!-- section-hero -->

<section class="section section-hero">
  <div class="container">
    <div class="title-wrap">
      <h1 class="hero-title" lang="en">
        ice cream made with <span class="hero-title__passion" lang="en">passion</span>
      </h1>
      <div class="title-btn-wrap">
        <button class="btn" type="button" lang="en">Products</button>
        <button class="btn" type="button" lang="en">How it’s made?</button>
      </div>
    </div>
  </div>
  <div class="bgr-circle"></div>
  <div class="infrastructure-wrap">
    <span class="infrastructure-info">16</span>
    <span class="infrastructure-info">23</span>
  </div>
  <div class="additional-info">
    <img class="hero-img hero-img_left" src="" alt="Прозрачный кувшин с молоком" />
    <div class="additional-info__wrap">
      <p class="additional-info__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="btn" type="button">
        <svg class="" width="4" height="8">
          <use></use>
        </svg>
      </button>
    </div>
    <img class="hero-img hero-img_center" src="" alt="Разноцветное мороженое в рожке" />
    <img class="hero-img hero-img_right" src="" alt="Девушка с мороженым" />
  </div>
</section>
