<div class="mob-menu">
    <div class="mob-menu-bg"></div>
    <div class="mob-container">
        <button class="mob-menu__btn-close">
            <svg class="modal-close-icon" width="17" height="17">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
        <button class="btn mob-menu__btn-buy btn_bgc_main-light-color" type="button">
            Buy now
            <span>
                <svg class="btn-buy__icon" width="7" height="10">
                    <use href="./images/sprite.svg#button-arrow"></use>
                </svg>
            </span>
        </button>
        <ul class="mob-menu-list">
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">Home</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">About us</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">How it’s made?</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">Our products</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">Contact</a>
            </li>
        
        </ul>
        

    </div>
</div>