<div class="mob-menu">
    <div class="container">
        <button class="mob-menu__btn-close">
            <svg class="modal-close-icon" width="24" height="24">
                <use href="./images/sprite.svg#button-arrow"></use>
            </svg>
        </button>
        <ul class="mob-menu-list">
            <li class="mob-menu-list__item">
                <a href="" class="mob-menu-list__link">Home</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">About us</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="" class="mob-menu-list__link">How it’s made?</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="#" class="mob-menu-list__link">Our products</a>
            </li>
            <li class="mob-menu-list__item">
                <a href="" class="mob-menu-list__link">Contact</a>
            </li>
        
        </ul>
        <svg class="" width="24" height="24">
            <use href="./images/sprite.svg#close"></use>
        </svg>

    </div>
</div>