<div class="container container-products">
    <label for="section-title__id" class="section-titleup-text">100% natural</label>
    <h2 class="section-title section-title__id" id="section-title__id">products</h2>

    <ul class="products-list">
        <li class="products-list__item">
            <div class="products-list__item--bg-position">
                <h3 class="products-list__title">ice cream</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et
                </p>
                <button class="btn products-list__btn" type="button"><svg class="x" height="40" width="40">
                        <use href=""></use>
                    </svg></button>
            </div>
        </li>
        <li class="products-list__item">
            <div class="products-list__item--bg-position">
                <h3 class="products-list__title">ice coffee</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et
                </p>
                <button class="btn products-list__btn" type="button"><svg class="x" height="40" width="40">
                        <use href=""></use>
                    </svg></button>
            </div>
        </li>
        <li class="products-list__item">
            <div class="products-list__item--bg-position">
                <h3 class="products-list__title">milkshakes</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et
                </p>
                <button class="btn products-list__btn" type="button"><svg class="x" height="40" width="40">
                        <use href=""></use>
                    </svg></button>
            </div>
        </li>

    </ul>
</div>