<section class="product-section">
    <div class="container container-products">
        <p class="section-title__up-text">100% natural</p>
        <h2 class="section-title section-title_position section-title__id" id="#products">products</h2>
        <div class="products-list_position">
            <ul class="products-list">
                <li class="products-list__item">
                    <div class="products-image_position">
                        <picture class="products-image">
                            <source
                                srcset="./images/mobile/prod-pic1-mob-min.png 1x, ./images/mobile/prod-pic1-mob2x-min.png 2x">
                            <img class="products-img" src="./images/mobile/prod-pic1-mob-min.png"
                                alt="pink ice cream with strawberries">
                        </picture>
                    </div>
                    <div class="products-list__box products-list__box_cream-color">
                        <h3 class="products-list__title">ice cream</h3>
                        <div class="products-list__circle-box">
                            <div class="products-list__circle"></div>
                            <div class="products-list__circle"></div>
                            <div class="products-list__circle"></div>
                        </div>
                        <div class="products-list__text_position">
                            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et<span class="phone-text">. dolore magna
                                    aliqua facilisis.</span>
                            </p>
                            <p class="products-list__list-activ">Lorem ipsum dolor
                                sit amet consectetur, adipisicing
                                elit. Quia, assumenda?
                            </p>
                        </div>
                        <div class="position-btn-content">
                            <button class="btn products-list__btn" type="button"><svg
                                    class="svg-products_color-position" id="arrow-right" height="12" width="12">
                                    <use href="./images/sprite.svg#arrow-right"></use>
                                </svg></button>
                            <p class="products-list__list-activ">Lorem ipsum dolor
                                sit amet consectetur, adipisicing
                                elit. Quia, assumenda?
                            </p>
                        </div>
                    </div>
                </li>
                <li class="products-list__item">
                    <div class="products-image_position">
                        <picture class="products-image">
                            <source
                                srcset="./images/mobile/prod-pic2-mob-min.png 1x, ./images/mobile/prod-pic2-mob2x-min.png 2x"
                                @include for-phone>
                            <img class="products-img" src="./images/mobile/prod-pic2-mob-min.png"
                                alt="pink ice cream with strawberries">
                        </picture>
                    </div>
                    <div class="products-list__box products-list__box_coffee-color">
                        <h3 class="products-list__title">ice coffee</h3>
                        <div class="products-list__circle-box">
                            <div class="products-list__circle"></div>
                            <div class="products-list__circle"></div>
                            <div class="products-list__circle"></div>
                        </div>
                        <div class="products-list__text_position">
                            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et<span class="phone-text">. dolore magna
                                    aliqua facilisis.</span>

                        </div>
                        <div class="position-btn-content">
                            <button class="btn products-list__btn" type="button"><svg
                                    class="svg-products_color-position" id="arrow-right" height="12" width="12">
                                    <use href="./images/sprite.svg#arrow-right"></use>
                                </svg></button>
                            <p class="products-list__list-activ">Lorem ipsum dolor
                                sit amet consectetur, adipisicing
                                elit. Quia, assumenda?
                            </p>
                        </div>
                    </div>
                </li>
                <li class="products-list__item">
                    <div class="products-image_position">
                        <picture class="products-image">
                            <source
                                srcset="./images/mobile/prod-pic3-mob-min.png 1x, ./images/mobile/prod-pic3-mob2x-min.png 2x"
                                @include for-phone>
                            <img class="products-img" src="./images/mobile/prod-pic3-mob-min.png"
                                alt="pink ice cream with strawberries">
                        </picture>
                    </div>
                    <div class="products-list__box products-list__box_milkshakes-color">
                        <h3 class="products-list__title">milkshakes</h3>
                        <div class="products-list__circle-box">
                            <div class="products-list__circle"></div>
                            <div class="products-list__circle"></div>
                            <div class="products-list__circle"></div>
                        </div>
                        <div class="products-list__text_position">
                            <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et<span class="phone-text">. dolore magna
                                    aliqua facilisis.</span>

                        </div>
                        <div class="position-btn-content">
                            <button class="btn products-list__btn" type="button"><svg
                                    class="svg-products_color-position" id="arrow-right" height="12" width="12">
                                    <use href="./images/sprite.svg#arrow-right"></use>
                                </svg></button>

                            <p class="products-list__list-activ">Lorem ipsum dolor
                                sit amet consectetur, adipisicing
                                elit. Quia, assumenda?
                            </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>