.btn-buy {
  display: none;
  @include for-tablet {
    margin-left: 30px;
    display: flex;
    width: 160px;
    height: 40px;
  }

  &__icon {
    stroke: $accent-color;
    margin-left: 14px;
  }
}
