.hero-title {
  width: 225px;
  margin-bottom: 19px;

  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-light-color;

  &__passion {
    font-family: Titan One;
    font-size: 48px;
    line-height: 0.97;
    text-transform: uppercase;

    color: $accent-color;
  }

  @include for-tablet {
    width: 162px;
    height: 80px;

    font-size: 22px;
    line-height: 1.14;

    &__passion {
      font-size: 34px;
      line-height: 0.91;
    }
  }

  @include for-desktop {
    width: 277px;
    height: 137px;
    margin-bottom: 25px;

    font-size: 38px;
    line-height: 1.16;

    &__passion {
      font-size: 58px;
      line-height: 0.91;
    }
  }
}

.title-btn-wrap {
  & > .btn:nth-child(1) {
    margin-right: 8px;

    @include for-desktop {
      margin-right: 14px;
    }
  }
}

.hero-title__btn {
  padding: 7px 14px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;

  @include for-desktop {
    padding: 11px 19px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.title-wrap {
  display: flex;
}

.infrastructure-wrap {
  display: none;
}

.infrastructure-wrap {
  @include for-tablet {
    display: flex;
    flex-direction: column;
    margin-left: 488px;
    width: 44px;
  }

  @include for-desktop {
    margin-left: 682px;
    width: 75px;
  }
}

.infrastructure-info {
  position: relative;
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: right;
  color: $accent-color;

  @include for-desktop {
    font-size: 46px;
    line-height: 1.15;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $main-light-color;

    position: absolute;
    top: -3px;
    right: -6px;
    z-index: -1;

    @include for-desktop {
      width: 30px;
      height: 30px;
      top: -6px;
      right: -15px;
    }
  }
}

.infrastructure-info__bottom {
  font-size: 8px;
  line-height: 1.25;
  color: $main-light-color;

  @include for-desktop {
    font-size: 14px;
    line-height: 1.29;
  }
}

.infrastructure-info__bottom_margin {
  margin-bottom: 13px;
  text-align: right;

  @include for-desktop {
    margin-bottom: 20px;
  }
}
